{% extends 'vidapp/base.html' %}
{% block content%}
<div class="container-fluid">
    <div class="row">
        <h3 class="text-center text-primary">My Vedios</h3>
        {% if videos %}
        {% for video in videos %}
            <div class="col-sm-3">
                <div class="thumbnail">
                    <img src="{{ vedio.file.url }}" class="img img-responsive img img-circle" style="height: 250px; width: 200px"/>
                    <div class="caption">

                        <h4>{{ vedio.name }}</h4>
                         <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="" value="">
                            <a href="">
                            <span class="glyphicon glyphicon-trash"></span>
                            </a>&nbsp;&nbsp;
                            <a href="">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                             <a href="">
                                <span class="glyphicon glyphicon-logout"></span>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor%}
        {% endif %}
    </div>
</div>
{% endblock %}